{% extends "ui/base.html" %}

{% block title %}
Forecast
{% endblock %}

{% block content %}
<div>
  {% load static %}
</div>

<div class="data data-forecast">

  <!-- Daily Statistics -->
  {% include "ui/snippets/live_data.html" %}
  <br/>

  <!-- Data Cards -->
  <div class='data'>
    <!-- <div class="plots row"> -->
       <!-- row-cols-2"> -->

      <!-- Market Data -->
      {% comment %}{% include "ui/snippets/card.html" with plot_script=mkt_script %}{% endcomment %}

      <!-- Solar Forecast Data -->
      {% include "ui/snippets/card.html" with plot_script=solar_script %}

    <!-- </div> -->
    {% comment %} <div class="tables row row-cols-2">

      <!-- Probability Data Table -->
      {% include "ui/snippets/card.html" with plot_script=probability_table_script %}

      <!-- Estimates Data Table -->
      {% include "ui/snippets/card.html" with plot_script=estimates_table_script %}

    </div> {% endcomment %}
  </div>
</div>
{% endblock %}
