:root{
  /* Background Color */
  --neutral1: #181d31;
  --neutral2: #1f263c;

  /* Gradient Stops */
  --stop1: #2b2552;
  --stop2: #502b69;
  --stop3: #7b2c77;
  --stop4: #a9257d;
  --stop5: #b53894;
  --stop6: #bf49ac;
  --stop7: #c85bc5;
  --stop8: #9981ed;
  --stop9: #5a9fff;
  --stop10: #00b6fd;
  --stop11: #01c8ee;
}
body {
  padding: 0px;
  margin: 0;
  background-color: var(--neutral1) !important;
  color:white !important;
}

h1,h2,p,ul,li {
  font-family: sans-serif;
}

li {
  list-style-type: none;
}

svg {
  margin-right: 10px;
}

svg.fa-sort-up {
  margin-right: 0px;
}

svg.fa-sort-down {
  margin-right: 0px;
}

.content {
  padding: 10px;
  margin-left: 75px;
  /* background-color: var(--neutral); */
}

/* The side navigation menu */
.sidebar-navigation{
  height: 100%; /* 100% Full-height */
  position: fixed; /* Stay in place */
  z-index: 1; /* Stay on top */
  top: 0; /* Stay at the top */
  left: 0;
  background-image: linear-gradient(0deg, black, var(--neutral2), var(--neutral2));
  overflow-x: hidden; /* Disable horizontal scroll */
  padding-left: 0px;
  padding-top: 10px; /* Place content 60px from the top */
  margin: 0;
}
.sidebar-navigation.nav-min{
  width: 75px;
}

.nav-min .site-title-text{
  display: none;
}

.nav-min .site-title img{
  width:100%;
}

.nav-min .profile_info{
  display: none;
}

.nav-min .profile_pic{
  width: 100%;
}

.nav-min .profile_pic img{
  width:100%;
  margin-left:0;
}

.nav-min li a {
  font-weight: 400;
  font-size: 10px;
  padding: 10px 5px;
  text-decoration: none;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.nav-min li a svg{
  font-size: 25px;
  width: 100%;
  margin: 0;
  margin-bottom: 5px;

}

.sidebar-navigation.nav-min li:nth-of-type(n+3){
  padding:0;
  padding-right: 5px;
}

.nav-min li.nav-btn.active {
  padding-right: 0px;
}

.sidebar-navigation.nav-min li.menu-toggle{
  text-align: center;
  width:100%;
}

.sidebar-navigation.nav-full li.menu-toggle{
  text-align: center;
  right: 30px;
}

.menu-toggle > svg{
  margin: 0;
}

  .sidebar-navigation li.menu-toggle{
  position: absolute;
  bottom: 100px;
  font-size: 25px;
  cursor: pointer;
  display: none;
}


.sidebar-navigation.nav-full{
  width: 230px; /* 0 width - change this with JavaScript */
}

/* The navigation menu links */
.sidebar-navigation a,
.sidebar-navigation li {
  padding: 5px 10px 5px 10px;
  margin-bottom: 6px;
  text-decoration: none;
  font-size: 15px;
  color: #ecf0f1;
  display: block;
}

/* When you mouse over the navigation links, change their color */
.sidebar-navigation a:hover {
  color: #f1f1f1;
}

/* Profile Information */
.img-circle.profile-img {
  width: 70%;
  background: #fff;
  margin-left: 10%;
  z-index: 1000;
  position: inherit;
  margin-top: 0px;
  border: 1px solid rgba(52, 73, 94, 0.44);
  padding: 4px;
}

.img-circle {
  border-radius: 50%;
}

.profile_pic {
  width: 35%;
  float: left;
}

.profile_info h2 {
  font-size: 14px;
  color: #ecf0f1;
  margin: 0;
  font-weight: 300;
}

.profile_info {
  padding: 25px 10px 10px;
  width: 65%;
  float: left;
}

.profile:after {
  content: ".";
  display: block;
  height: 0;
  clear: both;
  visibility: hidden;
}

.livestatus {
  float: right;
  padding: 0 15px 0 0;
  position: absolute;
  top: 0;
  right: 0;
}

.livestatus td {
 padding: 5px;
}

 .circle {
  height: 12px;
  width: 12px;
  border-radius: 50%;
}

.circle.ok {
  background-color: green;
}
.circle.warn {
  background-color: orange;
}

.row.tile_count {
    width: 100%;
    text-align: center;
}

.live-data{
  display: flex;
  flex-wrap: wrap;
  justify-content:center;
  margin-top: 30px;
}

.sidebar-navigation .csp-logo {
  border-radius: 50%;
  margin-right: 20px;
}

.sidebar-navigation h3{
  font-size: 1.75rem;
}

.card.h-100 .card-body{
  padding: 0 20px 20px 20px;
  margin-top: 10px;
}

.col .card, .tile_stats_count .card{
  border: none;
  background-image: linear-gradient(45deg, black, var(--neutral2));
}

.tile_stats_count .card{
  height: 100%;
}

.row:has( .card.h-100){
  margin-top:20px;
}

.row{
  margin: 0 0 !important;
}

.plots.row, .tables.row{
  margin-bottom: 20px !important;
  padding: 20px auto;
  display: flex;
}
.data-forecast .plots.row{
  justify-content: space-between;
}

.nav-btn.active{
  border-right-color: teal;
  border-right-width: 5px;
  border-right-style: solid;
}

/** BOKEH THEME ELEMENTS **/

/* Select */
select.bk.bk-input{
  background-color:var(--neutral1);
  background-image:url('data:image/svg+xml;utf8,<svg version="1.1" viewBox="0 0 25 20" xmlns="http://www.w3.org/2000/svg"><path d="M 0,0 25,0 12.5,20 Z" fill="white" /></svg>') !important;
  color:white;
  border-color:white !important;
}

select.bk.bk-input option{
  background-color:var(--neutral1);
  border:none;
}

/* Radio Buttons */
.bk-btn-group > .bk-btn {
  background-color: var(--neutral1);
  color: white;
  border-width: 1;
  border-color: white;
}

.bk-btn-group > .bk-btn.bk-active {
  background-color: var(--stop10);
  color: var(--stop1);
}

.bk-btn-group > .bk-btn:hover {
  background-color: var(--stop10);
}

/* Tables */
.bk-root .slick-header-column {
  background-image: none;
  background-color: var(--neutral1);
}

.bk-root .slick-header-column:hover {
  background-color: var(--stop8);
  background-image: none;
}

.ui-widget-content.slick-row.even {
  background-color: var(--stop1);
}

.ui-widget-content.slick-row.odd {
  background-color: var(--neutral2);
}

.bk-root .slick-cell.selected {
  background-color: var(--stop8);
}

